<!DOCTYPE html>

<html lang="es-us" >
<head>
<title>Escoja denuncia a modificar | Pagina Principal</title>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />

  
  <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
  
  
    <script type="text/javascript" src="/admin/jsi18n/"></script>
  
  
  




<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.min.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-denuncia model-denuncia change-list"
  data-admin-utc-offset="-14400">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">F.E.L.C.C</a></h1>

        </div>
        
        
        <div id="user-tools">
            
                Bienvenido/a,
                <strong>root</strong>.
            
            
                
                    <a href="/">Ver el sitio</a> /
                
                
                    
                    
                
                
                <a href="/admin/password_change/">Cambiar contraseña</a> /
                
                <a href="/admin/logout/">Terminar sesión</a>
            
        </div>
        
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/admin/">Inicio</a>
&rsaquo; <a href="/admin/denuncia/">Denuncia</a>
&rsaquo; Denuncias
</div>

    

    
        
    

    <!-- Content -->
    <div id="content" class="flex">
        
        <h1>Escoja denuncia a modificar</h1>
        
  <div id="content-main">
    
        <ul class="object-tools">
          
            
            <li>
              
              <!-- <a href="{% static 'denuncia/mapa.html' %}" class="addlink"> -->
              <a href="{% static 'denuncia/mapa.html' %}" class="addlink">
                Añadir denuncia
              </a>
            </li>

            <li>
              
              <!-- <a href="{% static 'denuncia/mapa.html' %}" class="addlink"> -->
              <a href="/denuncia/add/" class="addlink">
                Añadir
              </a>
            </li>

            
            
          
        </ul>
    
    
    <div class="module" id="changelist">
      


      


      
        
      

      <form id="changelist-form" method="post" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='ObtaS3oHYNVGGjyzUnvZ0xAdSnCo7oqT' />
      

      
          
          



          
      
      

<p class="paginator">

0 denuncias


</p>

      </form>
    </div>
  </div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
